<div>
<!-- nav-bar --> 
<!--
  style="overflow: hidden; position: fixed; top: 0; width: 100%;" 
  Could be used to fix nav bar to top but needs adjustments 
-->
<nav class="navbar navbar-expand-lg bg-body-tertiary"> 
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> <img src="../assets/portugalia_tours_logo.png" alt="HTML tutorial" style="width:42px;height:42px;">   Portugalia Tours</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Experiences</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tours</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Acomodations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true"></a>
        </li>
      </ul>
      <button class="btn btn-outline-success" type="submit">Book now!</button>
    </div>
  </div>
</nav>

<!-- pages -->
<br><br><br>
<app-landing-page></app-landing-page>
<app-home></app-home>
<app-room></app-room>
<!-- footer -->