<h1>Welcome to Portugalia Tours</h1>
<h2>Stay here, go everywhere!</h2>
<div style="max-height: 30rem;overflow:hidden;">
    <carousel [isAnimated]="true" >
        <slide>
          <img src="/assets/landing_page_serra.jpeg" alt="first slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="/assets/wine-tasting.jpg" alt="second slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="/assets/buggy_tour.jpeg" alt="third slide" style="display: block; width: 100%;">
        </slide>
      </carousel>
</div>
